<app-navbar></app-navbar>
<!-- slider_area_start -->
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <h1 class="opcity_text d-none d-lg-block">Booking</h1>
                <div class="row">
                    <div class="col-xl-9">
                        <div class="title_text">
                            <h3>Booking<br>
                                MAKE IT EASIER FOR YOU</h3>
                            <a routerLink="/account/newevent" class="boxed-btn-white"><i class="fa fa-plus"></i> BOOK A FLIGHT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </div>
  <!-- slider_area_end -->



  <section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">WHAT MAKES BOOKING SPEACIAL</h3>
        <p class="sample-text">
            Booking gives you a large choice a flights with the best prices , and to make 
            keep our customers always satisfied , Booking provides others services like 
            aerport transportaion .

        </p>
    </div>
</section>

<div class="about_area" style="padding-top: 0;">
    <div class="shape-1 d-none d-xl-block">
        <img src="../../assets/wemeet/img/about/shap1.png" alt="">
    </div>
    <div class="shape-2 d-none d-xl-block">
        <img src="../../assets/wemeet/img/about/shap2.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="about_thumb">
                    <img src="../../assets/wemeet/img/about/about.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-md-6">
                <div class="about_info">
                    <div class="section_title">
                        <span class="sub_heading">Welcome To</span>
                        <h3> BOOKING  </h3>
                           
                    </div>
                    <p>Booking gives you the opportunities to book your flights more easily 
                        gives you the opportunities to book your flight according to the lowest price or
                        the lowest duration , thanks to a very advanced graphs algorithms :DIJKSTRA
                       
                    </p>
                    <a routerLink="account/newevent" class="boxed-btn-red">BOOK YOUR FLIGHT</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="resister_book resister_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="resister_text text-center">
                    <h3>Register Now to Book <br>
                        Your flight</h3>
                    <a routerLink="account/newevent" class="boxed-btn-white">Book a flight </a>
                </div>
            </div>
        </div>
    </div>
</div>

  




  <app-footer></app-footer>